# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
media/

# Docker
*.env
.vscode/
*.DS_Store
docker-compose.override.yml
docker-compose.prod.yml

# If using Windows
Thumbs.db
*.bak

# If using Virtualenv
venv/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Static files
staticfiles/
static/

# IDE-specific files
.vscode/
